{% extends "layout.html" %}


        <title>Ecoleta</title>

        
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/modal.css">


        
    
        {# <div id="page-home"> #}

            <div class="content">

                <header>
                    <a href="index.html"><img src="/assets/logo.svg" alt="Logomarca"></a>
                    <a href="/create-point">
                        <span></span>
                        Cadastre um ponto de coleta
                    </a>
                </header>

                <main>

                    <h1>
                        Seu marketplace de coleta de resíduos.
                    </h1>


                    <p>
                        Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.
                    </p>

                    <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>
                </main>
            </div>
        </div>


        {% include "partials/modal.html" %}

    <script src="/scripts/index.js"></script>
    </body>

</html>