:root {
    --title-color: #8031a7;
    --primary-color: linear-gradient(186.34deg, #F65FC0 16.9%, #8031A7 115.64%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}




